local.properties
.gradle
/build
/.idea
*.iml
*.jks
*.keystore
key.properties
google-services.json
app/google-services.json
.DS_Store
/captures
.externalNativeBuild
.cxx

# Sly Agent Data
.sly/

# Environment Variables
.env
keystore.properties
