<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ComposeTestActivity"
            android:exported="false" />
        <receiver
            android:name=".debug.ReplReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.alakey.REPL_EVAL" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
